---
# https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/samples/dn455106(v=vs.85)?redirectedfrom=MSDN
# generated with https://realfavicongenerator.net/
permalink: /browserconfig.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square150x150logo src="{{ favicon.msTile150x150 }}"/>
            <square310x310logo src="{{ favicon.msTile310x310 }}"/>
            <wide310x150logo src="{{ favicon.msTile310x150 }}"/>
            <TileColor>#{{ favicon.msTileColor }}</TileColor>
        </tile>
    </msapplication>
</browserconfig>

