---
# https://w3c.github.io/manifest/
# generated with https://realfavicongenerator.net/
permalink: /site.webmanifest
layout: null
eleventyExcludeFromCollections: true
---
{
    "name": "",
    "short_name": "",
    "icons": [
        {
            "src": "{{ favicon.androidChrome192x192 }}",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "{{ favicon.androidChrome512x512 }}",
            "sizes": "512x512",
            "type": "image/png"
        }
    ],
    "theme_color": "{{ favicon.androidThemeColor }}",
    "background_color": {{ favicon.androidBkgColor }}",
    "display": "standalone"
}
