---
# http://humanstxt.org/
permalink: /humans.txt
layout: null
eleventyExcludeFromCollections: false
---
# humanstxt.org/
# The humans responsible & technology colophon

/* TEAM */

    Creator: {{ meta.authorName }}
    Contact: {{ meta.authorEmail }}
    Twitter: {{ meta.authorTwitter }}
    Location: {{ meta.authorLocation }}

/* THANKS */

    Name: name or url

/* SITE */

    Last update: {{ page.date.toISOString }}
    Language: {{ meta.lang }}
    Standards: HTML5, CSS3,
    Components: TailwindCSS, Alpine.js,
    Software: 11ty
