---
layout: layouts/home.njk
title: Home Page
date: 2020-12-30
path: home
---


    <span class="text-change">Soli Deo gloria</span><br/>
    <span class="change">is a <br/>Latin term for<br/>Glory to God alone.</span>

{% include "partials/content.njk" %}

